# Python Data Types

<hr>

#### Getting a data type

<font color=green>Text Data Type</font>

In [1]:
print(type("Hello"))

<class 'str'>

<font color=green>Integer Data Type</font>

In [2]:
print(type(1))

<class 'int'>

<font color=green>Float Data Type</font>

In [3]:
print(type(1.3))

<class 'float'>

<font color=green>Complex Data Type</font>

*Returns a complex number with a real like 1 and imaginary component like j represented as as 1j or 2 + 1j*

In [4]:
print(type(1j))

<class 'complex'>

In [5]:
print(type(2+1j))

<class 'complex'>

<font color=green>List Data Type</font>

In [9]:
print(type(["apple","orange","banana"]))

<class 'list'>

<font color=green>Tuple Data Type</font>

In [11]:
print(type(("apple","orange","banana")))

<class 'tuple'>

<font color=green>Range Data Type</font>

In [12]:
print(type(range(6)))

<class 'range'>

<font color=green>Dictionary Data Type</font>

In [14]:
print(type({"first name":"Joydeep", "last name":"Ghosh"}))

<class 'dict'>

<font color=green>Set Data Type</font>

In [1]:
print(type({"apple","oranges","banana"}))

<class 'set'>

<font color=green>Frozen Set Data Type</font>

In [4]:
print(type(frozenset({"apple","oranges","banana"})))

<class 'frozenset'>

<font color=green>Bool Data Type</font>

In [9]:
print(type(True))

<class 'bool'>

In [10]:
print(type(true))

NameError: name 'true' is not defined

<font color=green>Bytes Data Type</font>

In [6]:
print(type(b"test"))

<class 'bytes'>

<font color=green>Byte Array Data Type</font>

In [7]:
print(type(bytearray(5)))

<class 'bytearray'>

<font color=green>MemoryView</font>

In [8]:
print(type(memoryview(bytes(5))))

<class 'memoryview'>

<br>

<br>

# Variables

***

#### Defining a variable

In [15]:
a = 10
print(a)

10

#### Defining a dynamic variable

In [18]:
a = 10
print(a)
a = "ten"
print(a)

10
ten

#### Defining a strong type

In [1]:
print("The number is " + str(2))

The number is 2

#### Assign values to multiple variables in a single line

In [5]:
a, b, c = "Value of a", "Value of b", "Value of c"
print(a)
print(b)
print(c)

Value of a
Value of b
Value of c

#### Assing a single value to multiple variables in a single line

In [6]:
a = b = c = "Value is 1"
print(a)
print(b)
print(c)

Value is 1
Value is 1
Value is 1

#### Variables are case sensitive

In [7]:
a = "This is a test"
print(A)

NameError: name 'A' is not defined

#### Adding multiple variables

In [8]:
a, b, c = "My name is Joydeep.", "I am an IT professional.", "My hobbies are writing code."
result = a + " " + b + " " + c
print(result)

My name is Joydeep. I am an IT professional. My hobbies are writing code.

In [9]:
a, b, c = 1, 2, 3
result = a + b + c
print(result)

6

In [10]:
a, b = "My age is ", 43
result = a + b
print(result)

TypeError: can only concatenate str (not "int") to str

In [11]:
a, b = "My age is ", 43
result = a + str(b)
print(result)

My age is 43

#### Create Global Variables

>Variables created outside the function and can be used by anyone

In [14]:
x = 10
def printval():
    print("Value is: " + str(x))
printval()

Value is: 10

>Overwrite global variable value with a local variable value

In [16]:
x = 10
def printval():
    x = 20
    print("Value is: " + str(x))
printval()

Value is: 20

>Create Global variable inside a function using global keyword

In [18]:
def printval():
    global x
    x = 10
printval()
print("Value is: " + str(x))

Value is: 10

<br><br>

# Boolean expressions

***

*AND Operation*

In [20]:
print(True and True)

True

In [21]:
print(True and False)

False

In [22]:
print(False and True)

False

In [23]:
print(False and False)

False

*OR Operation*

In [24]:
print(True or True)

True

In [25]:
print(True or False)

True

In [26]:
print(False or True)

True

In [28]:
print(False or False)

False

*NOT Operation*

In [29]:
print(not True)

False

In [30]:
print(not False)

True

*IS Operation*

In [31]:
print(True is True)

True

In [32]:
print(True is False)

False

In [33]:
print(False is True)

False

In [3]:
print(False is False)

True

<br><br>

# Numeric Types

***

#### Int type

> Positive or negative whole number without decimals

In [4]:
print(type(1))
print(type(-1))

<class 'int'>
<class 'int'>

#### Float type

> Positive or negative floating point number containing one or more decimals

In [5]:
print(type(1.10))
print(type(-1.10))

<class 'float'>
<class 'float'>

#### Complex type

> Numbers written with a "j" as the imaginary part

In [6]:
print(type(3+5j))
print(type(5j))
print(type(-5j))

<class 'complex'>
<class 'complex'>
<class 'complex'>

<br>

#### Convert Types

<font color=green>Convert from int to float</font>

In [9]:
print(type(1))
print(type(float(1)))

<class 'int'>
<class 'float'>

<br>

<font color=green>Convert from float to int</font>

In [11]:
print(type(1.1))
print(type(int(1.1)))

<class 'float'>
<class 'int'>

<br>

<font color=green>Convert from int to complex</font>

In [13]:
print(type(1))
print(type(complex(1)))

<class 'int'>
<class 'complex'>

<br>

#### Random Number

> Python has built-in module called random used to make random numbers

In [14]:
import random
print(random.randrange(1,10))

8

<br><br><br>

# Casting in Python

***

<font color=green>Cast int to float</font>

In [15]:
print(float(1))

1.0

<font color=green>Cast float to int</font>

In [16]:
print(int(2.8))

2

<font color=green>Cast integer string to float</font>

In [17]:
print(float("3"))

3.0

<font color=green>Cast float string to float</font>

In [18]:
print(float("3.1"))

3.1

<font color=green>Cast integer to string</font>

In [20]:
print(str(2))

2

<font color=green>Cast float to string<font>

In [21]:
print(str(3.1))

3.1

<br><br><br>

# String Manipulation

***

#### Assign value to string variable

In [22]:
a = "This is a test"
print(a)

This is a test

<br>

#### Assign multiline value to a string variable using 3 quotes (""")

In [23]:
a = """My name is Joydeep.
I am a developer working from India.
My hobbies are blogging, travelling and writing."""
print(a)

My name is Joydeep.
I am a developer working from India.
My hobbies are blogging, travelling and writing.

<br>

#### Python strings are arrays

> Accessing elements of a string is done by using square brackets

In [25]:
a = "This is a string"
print(a[1])

h

<br>

#### Slicing in String

> Slicing returns a part of string specified by a start and end index

In [29]:
a = "This is a string"
print(a[0:4])

This

> Negative Index can be used to slice a string from the end

In [36]:
a = "This is a string"
print(a[-6:-1])

strin

<br>

#### len(): Function to get Length of a string

In [37]:
a = "This is a string"
print(len(a))

16

<br>

#### strip(): Function to remove whitespace from a string

> strip() function is used to remove whitespaces at the beginning and end of a string

In [43]:
a = " This is a string "
print(a.strip())

This is a string

<br>

#### upper(), lower(): Function to change case of a string

> upper() and lower() functions are used to change case of a string

In [44]:
a = "This is a string"
print(a.lower())
print(a.upper())

this is a string
THIS IS A STRING

<br>

#### replace(): Function to replace a string with another string

In [1]:
a = "This is string 1"
print(a.replace("string 1","string 2"))

This is string 2

<br>

#### split(): Function to split string into substrings

In [2]:
a = "This is a string"
print(a.split(" "))

['This', 'is', 'a', 'string']

<br>

#### in: Keyword to check presence of a character or phrase in a string

In [3]:
a = "This is a string"
print("is" in a)

True

In [4]:
a = "This is a string"
print("are" in a)

False

<br>

#### not: Keyword to verify that a character or phrase is not present in a string

In [6]:
a = "This is a string"
print("are" not in a)

True

<br>

#### Concatenation of two or more strings

In [7]:
a = "Harry"
b = "Potter"
print(a + " " + b)

Harry Potter

<br>

#### format(): Method to format string based on arguments passed in a placeholder

In [8]:
a = "Harry"
b = "25"
c = "My name is {} and my age is {}"
print(c.format(a,b))

My name is Harry and my age is 25

<br>

> Use index number {0} specifying the arguments to format the string

In [1]:
a = "Harry"
b = "25"
c = "My age is {1} and my name is {0}"
print(c.format(a,b))

My age is 25 and my name is Harry

<br>

#### Using Escape Character - To insert characters in a string

<font color=green>Using double quotes</font>

In [3]:
print("This is an escape \"character\" test string")

This is an escape "character" test string

<font color=green>Using single quotes</font>

In [5]:
print("This is a \'test\'")

This is a 'test'

<font color=green>Using backslash</font>

In [7]:
print("This is a \\Test")

This is a \Test

<font color=green>Using Newline</font>

In [8]:
print("This is a \nTest")

This is a
Test

<font color=green>Using Carriage Return</font>

In [11]:
print("This is a \rtest")

test is a

<font color=green>Using tab</font>

In [12]:
print("This is a \t test")

This is a 	 test

<font color=green>Using Backspace</font>

In [14]:
print("This is a \btest")

This is atest

<font color=green>Using Form Feed</font>

In [15]:
print("This is a \f test")

This is a  test

<br>

#### capitalize(): Convert first character to uppercase

In [16]:
a = "this is a test"
print(a.capitalize())

This is a test

<br>

#### casefold(): Convert string to lowercase

In [17]:
a = "THIS IS A TEST"
print(a.casefold())

this is a test

<br>

#### center(): Centers the string

In [25]:
a = "This is a test"
print(a.center(50))

                  This is a test

<br>

#### count(): Returns number of time a specific value occured in a string

In [26]:
a = "This is a test. This test has been made by development team"
print(a.count("test"))
print(a.count("development"))

2
1

<br>

#### encode(): Encode a string

In [27]:
a = "This is a test"
print(a.encode())

b'This is a test'

<br>

#### endswith(): Returns true is string ends with the specified value

In [28]:
a = "This is a test"
print(a.endswith("test"))
print(a.endswith("This"))

True
False

<br>

#### expandtabs(): Set the tab size of a string

In [31]:
a = "This \tis \ta test"
print(a.expandtabs(20))

This                is                  a test

<br>

#### find(): Returns position of a value searched in a string

In [32]:
a = "This is a test"
print(a.find("is"))

2

<br>

#### join(): Join elements of an iterable to a string

In [59]:
a = ("David","Blake")
print(" ".join(a))

David Blake

<br><br><br>

# Operators

#### Arithmetic Operators

In [38]:
print(2 + 3) # Addition
print(3 - 2) # Subtraction
print(3 * 2) # Multiplication
print(10 / 5) # Division
print(10 % 5) # Modulus
print(10 ** 5) # Exponentiation
print(10 // 5) # Floor Division

5
1
6
2.0
0
100000
2

<br>

#### Assignment Operators

In [60]:
x = 2
print(x)

2

In [65]:
x = 2
x += 2
x

4

In [64]:
x = 2
x -= 2
x

0

In [63]:
x = 2
x *= 2
x

4

In [66]:
x = 2
x /= 2
x

1.0

In [67]:
x = 2
x %= 2
x

0

In [68]:
x = 2
x //= 2
x

1

In [69]:
x = 2
x **= 2
x

4

In [70]:
x = 2
x &= 2
x

2

In [71]:
x = 2
x |= 2
x

2

In [72]:
x = 2
x ^= 2
x

0

In [75]:
x = 2
x >>= 2
x

0

In [77]:
x = 2
x <<= 2
x

8

<br>

#### Comparison Operators

In [79]:
x = 2
y = 4

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True
False
True

<br>

#### Logical Operators

In [80]:
x = 6

print(x < 5 and x < 10)
print(x < 5 or x < 10)
print(not(x < 5 and x < 10))

False
True
True

<br>

#### Identity Operators

In [81]:
x = 6
y = 6

print(x is y)
print(x is not y)

True
False

<br>

#### Membership Operators

In [84]:
x = 4
y = [1,3,4,6,7]

print(x in y)
print(x not in y)

True
False

***

# Conditions and Loops

#### Lists

##### List is a container which has a mutable collection of objects. Mutable means which can be changed.

*Create an empty list*

In [39]:
l = []
print(l)

[]

In [40]:
l = list()
print(l)

[]

*Create a list of values*

In [56]:
l = ['a','b','c']
print(l)

['a', 'b', 'c']

*Returning a shallow copy of a list*

In [55]:
m = list(l)
print(m)

['a', 'b', 'c', 'd', 'e', 'f']

*Python string is a sequence of characters which is iterable. With list function, new list of characters can be generated*

In [54]:
l = list('abcdef')
print(l)

['a', 'b', 'c', 'd', 'e', 'f']

*Appending values to a list*

In [57]:
l = ['a','b']
print(l)
l.append('c')
print(l)

['a', 'b']
['a', 'b', 'c']

*Insert a value in an ordinal position in a list*

In [58]:
l = [1,2,3]
print(l)

l.insert(1, 4)
print(l)

[1, 2, 3]
[1, 4, 2, 3]

#### If......else Loop

##### Semi-colon indicate the execution of statements inside a conditional block

In [59]:
val = 10
if val < 10:
    print('val is less than 10')
elif val < 15:
    print('val is greater than 10')
else:
    print('val is greater than 15')

val is greater than 10

#### For Loop

In [62]:
l = ['a','b','c','d']
for letter in l:
    print(letter)

a
b
c
d

*Example: Program to find the sum of all numbers stored in a list*

In [1]:
list = [1,2,3,4]
result = 0
for integer in list:
    result = result + integer
print(result)

10

*Example: For loop with else*

In [2]:
list = [1,2,3,4]
result = 0
for integer in list:
    print(integer)
else:
    print("No other digits found")

1
2
3
4
No other digits found

#### While Loop

*Example: Program to add all numbers upto a number (n)*

In [2]:
n = int(input("Enter the number(n): "))
result = 0
seq = 1
while seq <= n:
    result = result + seq
    seq = seq + 1
print(seq)

Enter the number(n):  10

11

#### Range() function

##### Range() function generate numbers between two numbers

*Get range for a number*

In [5]:
print(range(10))

range(0, 10)

*Get list of numbers for a specific range*

In [4]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

*Get list of numbers between range of two numbers*

In [6]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

*Add the numbers between a range having specific interval*

In [7]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]

*Iternate through a sequence using indexing*

In [9]:
fruits = ["appple", "orange", "mangoe"]
for fruit in range(len(fruits)):
    print("I love " + fruits[fruit])

I love appple
I love orange
I love mangoe

#### Break and Continue

*break from a loop*

In [10]:
for i in range(10):
    if (i > 6):
        break
    print(i)
print("Break loop at 6")

0
1
2
3
4
5
6
Break loop at 6

*continue the statement inside a loop*

In [12]:
for i in range(10):
    if (i > 6):
        continue
    print(i)
print("Continue loop at 6")

0
1
2
3
4
5
6
Continue loop at 6

#### Taking Input from User

In [13]:
firstname = input("Enter First Name: ")
lastname = input("Enter Last Name: ")
print(firstname + " " + lastname)

Enter First Name:  Joydeep
Enter Last Name:  Ghosh

Joydeep Ghosh

# Some Exercise

*Sum all items in a list*

In [7]:
mylist = [2,4,6,8,10]

result = 0
itemcount = 0
totalItems = len(mylist)
while itemcount < totalItems:
    result = result + mylist[itemcount]
    itemcount = itemcount + 1
print(result)

30

*Remove duplicates from a list*

In [19]:
mylist = [2,4,2,6,8,10,6,12,10,14,20]

myset = set() #create list of unique values
newlist = []
totalItems = len(mylist)

for item in range(totalItems):
    myset.add(mylist[item])

newlist = list(myset)
print(newlist)

[2, 4, 6, 8, 10, 12, 14, 20]