# Lists

##### Collection which is ordered and changeable represented inside square brackets []

#### Create a list

In [1]:
mylist = ["apple","orange","banana"]
print(mylist)

['apple', 'orange', 'banana']

<br>

#### Access items from a list

In [2]:
mylist = ["apple","orange","banana"]
print(mylist[2])

banana

<br>

#### Use Negative Indexing (-1) to get last item from a list

In [3]:
mylist = ["apple","orange","banana"]
print(mylist[-1])

banana

<br>

#### Use Negative Indexing (-2) to get second last item from a list

In [5]:
mylist = ["apple","orange","banana"]
print(mylist[-2])

orange

<br>

#### Use Range of indexes to get a new list of items from an existing list

In [6]:
mylist = [1, 2, 3, 4, 5, 6]
print(mylist[2:4])

[3, 4]

<br>

#### Use Range to get beginning from an index

In [7]:
mylist = [1, 2, 3, 4, 5, 6]
print(mylist[:4])

[1, 2, 3, 4]

<br>

#### Use Range to get end of list from an index

In [8]:
mylist = [1, 2, 3, 4, 5, 6]
print(mylist[2:])

[3, 4, 5, 6]

<br>

#### Change value in a list

In [1]:
mylist = [1, 2, 3, 4, 5, 6]
mylist[1] = 10
print(mylist)

[1, 10, 3, 4, 5, 6]

<br>

#### Loop through items in a list

In [2]:
mylist = [1, 2, 3, 4, 5, 6]
for item in mylist:
    print(item)

1
2
3
4
5
6

<br>

#### Check if an item exists in a list

In [3]:
mylist = [1, 2, 3, 4, 5, 6]
if 3 in mylist:
    print("3 is present in mylist")

3 is present in mylist

<br>

## List Functions

#### len(): Get length/number of items of a list

In [4]:
mylist = [1, 2, 3, 4, 5, 6]
print(len(mylist))

6

<br>

#### append(): Add item to a list

In [5]:
mylist = [1, 2, 3, 4, 5, 6]
mylist.append(7)
print(mylist)

[1, 2, 3, 4, 5, 6, 7]

<br>

#### insert(): Add item to a specific index in a list

In [6]:
mylist = [1, 2, 3, 4, 5, 6]
mylist.insert(2,10)
print(mylist)

[1, 2, 10, 3, 4, 5, 6]

<br>

#### remove(): Remove an item from a list

In [7]:
mylist = [1, 2, 3, 4, 5, 6]
mylist.remove(4)
print(mylist)

[1, 2, 3, 5, 6]

<br>

#### pop() or del: Remove an item of a specific index from the list

In [8]:
mylist = [1, 2, 3, 4, 5, 6]
mylist.pop() #removes last item from the list
print(mylist)

[1, 2, 3, 4, 5]

In [9]:
mylist = [1, 2, 3, 4, 5, 6]
mylist.pop(0)
print(mylist)

[2, 3, 4, 5, 6]

In [10]:
mylist = [1, 2, 3, 4, 5, 6]
del mylist[0]
print(mylist)

[2, 3, 4, 5, 6]

<br>

#### del: Remove whole list

In [11]:
mylist = [1, 2, 3, 4, 5, 6]
del mylist
print(mylist)

NameError: name 'mylist' is not defined

<br>

#### clear(): empties a list

In [12]:
mylist = [1, 2, 3, 4, 5, 6]
mylist.clear()
print(mylist)

[]

<br>

#### copy() or list(): Copy a list to another list

In [13]:
mylist = [1, 2, 3, 4, 5, 6]
mylist2 = mylist.copy()
print(mylist2)

[1, 2, 3, 4, 5, 6]

In [14]:
mylist = [1, 2, 3, 4, 5, 6]
mylist3 = list(mylist)
print(mylist3)

[1, 2, 3, 4, 5, 6]

<br>

#### + operator or entend(): To join two list

In [15]:
mylist = [1, 2, 3, 4, 5, 6]
mylist2 = [10, 20, 30, 40, 50, 60]
mylist3 = mylist + mylist2
print(mylist3)

[1, 2, 3, 4, 5, 6, 10, 20, 30, 40, 50, 60]

In [16]:
mylist = [1, 2, 3, 4, 5, 6]
mylist2 = [10, 20, 30, 40, 50, 60]
mylist.extend(mylist2)
print(mylist)

[1, 2, 3, 4, 5, 6, 10, 20, 30, 40, 50, 60]

<br>

#### reverse(): Reverse the order of items in a list

In [20]:
mylist = [1, 2, 3, 4, 5, 6]
mylist.reverse()
print(mylist)

[6, 5, 4, 3, 2, 1]

<br>

#### sort(): Sort order in the list

In [21]:
mylist = [1, 2, 3, 4, 5, 6]
mylist.sort()
print(mylist)

[1, 2, 3, 4, 5, 6]

In [26]:
mylist = [1, 2, 4, 3, 5, 6]
mylist.sort(reverse=True)
print(mylist)

[6, 5, 4, 3, 2, 1]

<br><br>

# Tuples

##### Collection which is ordered and unchangeable represented inside round brackets()

#### Create a Tuple

In [1]:
mytuple = ("History","Biology","Geography")
print(mytuple)

('History', 'Biology', 'Geography')

<br>

#### Access Tuple using index number

In [2]:
mytuple = ("History","Biology","Geography")
print(mytuple[0])

History

<br>

#### Use Negetive(-ve) index to access last and 2nd last item of a tuple

In [4]:
mytuple = ("History","Biology","Geography")
print(mytuple[-1]) #last item
print(mytuple[-2]) #2nd last item

Geography
Biology

<br>

#### Use range of index having starting and ending index that will create a new Tuple

In [6]:
mytuple = ("History","Biology","Geography")
print(mytuple[1:3])

('Biology', 'Geography')

<br>

#### Change a Tuple value (which is immutable/unchangeable) by convert to list and then back to Tuple

In [7]:
mytuple = ("History","Biology","Geography")
mylist = list(mytuple)
mylist[1] = "Computer Science"
mytuple = tuple(mylist)
print(mytuple)

('History', 'Computer Science', 'Geography')

<br>

#### Use For Loop to loop through a Tuple

In [8]:
mytuple = ("History","Biology","Geography")
for item in mytuple:
    print(item)

History
Biology
Geography

<br>

#### in Keyword: Used to check if an item exists in Tuple

In [10]:
mytuple = ("History","Biology","Geography")
if "Computers" in mytuple:
    print("Computers is found!")
else:
    print("Computers not found!")

Computers not found!

<br>

#### len(): Find how many items are there in a Tuple

In [11]:
mytuple = ("History","Biology","Geography")
print(len(mytuple))

3

<br>

#### Add items to a Tuple by converting it to a list and then changing it back to Tuple

In [12]:
mytuple = ("History","Biology","Geography")
mylist = list(mytuple)
mylist.append("Computer Science")
mytuple = tuple(mylist)
print(mytuple)

('History', 'Biology', 'Geography', 'Computer Science')

<br>

#### Deleteing Item from a Tuple is not possible as it is immutable. But whole Tuple can be deleted

In [13]:
mytuple = ("History","Biology","Geography")
del mytuple
print(mytuple)

NameError: name 'mytuple' is not defined

<br>

#### (+) Operator: To join two tuples

In [2]:
mytuple = ("History","Biology","Geography")
mytuple2 = ("subject1","subject2","subject3")
mytuple3 = mytuple + mytuple2
print(mytuple3)

('History', 'Biology', 'Geography', 'subject1', 'subject2', 'subject3')

<br>

#### count(): Find number of occurrence of a value in a Tuple specified

In [3]:
mytuple = ("History","Biology","Geography","Biology")
print(mytuple.count("Biology"))

2

<br>

#### index(): Find the first index of a value found in a Tuple

In [5]:
mytuple = ("History","Biology","Geography","Biology")
print(mytuple.index("Biology"))

1

<br><br>

# Sets

##### Collection which is order and unindexed written in curly brackets {}

<br>

#### Create a Set

In [7]:
myset = {"History","Biology","Geography"}
print(myset)

{'History', 'Geography', 'Biology'}

<br>

#### Access items in set using for loop

*Items cannot be accessed by using index as Sets are unordered and items has no index*

In [11]:
myset = {"History","Biology","Geography"}
for item in myset:
    print(item)

History
Geography
Biology

In [9]:
myset = {"History","Biology","Geography"}
if "Biology" in myset:
    print("item found")
else:
    print("item not found")

item found

<br>

#### Change/Modify items in a Set

*Items cannot be modified in a set but added*

##### add(): Add only one item

In [13]:
myset = {"History","Biology","Geography"}
myset.add("Computer Science")
print(myset)

{'Computer Science', 'History', 'Geography', 'Biology'}

##### update(): Add more than one item

In [15]:
myset = {"History","Biology","Geography"}
myset.update(["Computer Science","Geology"])
print(myset)

{'Geology', 'Computer Science', 'Geography', 'History', 'Biology'}

<br>

#### len(): Get number of items in the set

In [16]:
myset = {"History","Biology","Geography"}
print(len(myset))

3

<br>

#### remove() or discard(): To remove item from a set

In [20]:
myset = {"History","Biology","Geography"}
myset.remove("Biology")
print(myset)
myset.discard("History")
print(myset)

{'History', 'Geography'}
{'Geography'}

<br>

#### pop(): To remove last item from the set

*As Set is an unordered with items not having index, hence we will not know which last item got removed*

In [21]:
myset = {"History","Biology","Geography"}
myset.pop()
print(myset)

{'Geography', 'Biology'}

<br>

#### clear(): Empty a set

In [22]:
myset = {"History","Biology","Geography"}
myset.clear()
print(myset)

set()

<br>

#### del: Delete the entire set

In [23]:
myset = {"History","Biology","Geography"}
del myset
print(myset)

NameError: name 'myset' is not defined

<br>

#### union(): Join two or more sets

In [25]:
myset = {"History","Biology","Geography"}
myset2 = {"Computer Science","Geology"}
myset3 = myset.union(myset2)
print(myset3)

{'Computer Science', 'Geography', 'Geology', 'History', 'Biology'}

<br>

#### update(): Insert items from one set to another set

In [26]:
myset = {"History","Biology","Geography"}
myset2 = {"Computer Science","Geology"}
myset.update(myset2)
print(myset)

{'Computer Science', 'Geography', 'Geology', 'History', 'Biology'}

<br>

#### copy(): Copy a set

In [1]:
myset = {"History","Biology","Geography"}
myset2 = myset.copy()
print(myset2)

{'Biology', 'Geography', 'History'}

<br>

#### difference(): Returns difference between two sets

In [2]:
myset = {"History","Biology","Geography"}
myset2 = {"History","Computer","Geography"}
myset3 = myset2.difference(myset)
print(myset3)

{'Computer'}

<br>

#### difference_udpate(): Removes the items which exists in both the sets

In [8]:
myset = {"History","Biology","Geography"}
myset2 = {"History","Computer","Geography"}
myset3 = myset.difference_update(myset2)
print(myset3)

None

<br>

#### intersection(): Returns items common in two or more sets

In [10]:
myset = {"History","Biology","Geography"}
myset2 = {"History","Computer","Geography"}
myset3 = myset.intersection(myset2)
print(myset3)

{'Geography', 'History'}

<br><br>

# Dictionary

##### An unordered, mutable and indexed collection represented as key-value pair inside curly brackets

<br>

#### Create a Dictionary

In [39]:
dict1 = {"Name":"Robert", "Age":35, "Designation":"Software Engineer"}
print(dict1)

{'Name': 'Robert', 'Age': 35, 'Designation': 'Software Engineer'}

<br>

#### Access Dictionary items by using keys

In [40]:
dict1 = {"Name":"Robert", "Age":35, "Designation":"Software Engineer"}
print(dict1["Name"])

Robert

<br>

##### You can use get() also to access the item value

In [41]:
dict1 = {"Name":"Robert", "Age":35, "Designation":"Software Engineer"}
print(dict1.get("Name"))

Robert

<br>

#### Change value of a dictionary item based on it's key

In [42]:
dict1 = {"Name":"Robert", "Age":35, "Designation":"Software Engineer"}
dict1["Age"] = 40
print(dict1)

{'Name': 'Robert', 'Age': 40, 'Designation': 'Software Engineer'}

<br>

#### Using FOR loop to loop through dictionary items

In [43]:
dict1 = {"Name":"Robert", "Age":35, "Designation":"Software Engineer"}
for key in dict1:
    print(key + ":" + str(dict1[key]))

Name:Robert
Age:35
Designation:Software Engineer

<br>

In [44]:
dict1 = {"Name":"Robert", "Age":35, "Designation":"Software Engineer"}
for key, value in dict1.items():
    print(key + ":" + str(value))

Name:Robert
Age:35
Designation:Software Engineer

<br>

#### in keyword: Find if a key exists

In [45]:
dict1 = {"Name":"Robert", "Age":35, "Designation":"Software Engineer"}
if "Name" in dict1:
    print("Name: "+ str(dict1["Name"]))

Name: Robert

<br>

#### len(): Get number of items in the dictionary

In [46]:
dict1 = {"Name":"Robert", "Age":35, "Designation":"Software Engineer"}
print(len(dict1))

3

<br>

#### Add items to a dictionary by assigning new key-value pair

In [47]:
dict1 = {"Name":"Robert", "Age":35, "Designation":"Software Engineer"}
dict1["Company"] = "Microsoft"
print(dict1)

{'Name': 'Robert', 'Age': 35, 'Designation': 'Software Engineer', 'Company': 'Microsoft'}

<br>

#### pop(): Remove items from a dictionary

In [48]:
dict1 = {"Name":"Robert", "Age":35, "Designation":"Software Engineer"}
dict1.pop("Designation")
print(dict1)

{'Name': 'Robert', 'Age': 35}

<br>

#### popitem(): Remove the last item from the dictionary

In [49]:
dict1 = {"Name":"Robert", "Age":35, "Designation":"Software Engineer"}
dict1.popitem()
print(dict1)

{'Name': 'Robert', 'Age': 35}

<br>

#### del keyword: Remove item with specified key name like pop()

In [50]:
dict1 = {"Name":"Robert", "Age":35, "Designation":"Software Engineer"}
del dict1["Designation"]
print(dict1)

{'Name': 'Robert', 'Age': 35}

<br>

##### Delete the whole dictionary

In [2]:
dict1 = {"Name":"Robert", "Age":35, "Designation":"Software Engineer"}
del dict1
print(dict1)

NameError: name 'dict1' is not defined

<br>

#### clear(): Empties the whole dictionary

In [53]:
dict1 = {"Name":"Robert", "Age":35, "Designation":"Software Engineer"}
dict1.clear()
print(dict1)

{}

<br>

#### copy(): Copy a dictionary to another dictionary

In [54]:
dict1 = {"Name":"Robert", "Age":35, "Designation":"Software Engineer"}
dict2 = dict1.copy()
print(dict2)

{'Name': 'Robert', 'Age': 35, 'Designation': 'Software Engineer'}

<br>

#### dict(): Copy a dictionary to another dictionary

In [3]:
dict1 = {"Name":"Robert", "Age":35, "Designation":"Software Engineer"}
dict2 = dict(dict1)
print(dict2)

{'Name': 'Robert', 'Age': 35, 'Designation': 'Software Engineer'}

<br>

#### Create Nested Dictionary

In [6]:
dict1 = {
            "Employee1": {"Name":"Robert", "Age":35, "Designation":"Software Engineer"},
            "Employee2": {"Name":"Joydeep", "Age":43, "Designation":"Software Engineer"}
        }
print(dict1)

{'Employee1': {'Name': 'Robert', 'Age': 35, 'Designation': 'Software Engineer'}, 'Employee2': {'Name': 'Joydeep', 'Age': 43, 'Designation': 'Software Engineer'}}

<br>

#### Create separate dictionaries and assign them to one dictionary

In [7]:
Employee1 = {"Name":"Robert", "Age":35, "Designation":"Software Engineer"}
Employee2 = {"Name":"Joydeep", "Age":43, "Designation":"Project Manager"}

Employee = {"Employee1":Employee1, "Employee2":Employee2}
print(Employee)

{'Employee1': {'Name': 'Robert', 'Age': 35, 'Designation': 'Software Engineer'}, 'Employee2': {'Name': 'Joydeep', 'Age': 43, 'Designation': 'Project Manager'}}

<br>

#### Using dict() constructor to make a new dictionary

In [8]:
mydict = dict(Name = "Robert", Age = 35, Designation = "Software Engineer")
print(mydict)

{'Name': 'Robert', 'Age': 35, 'Designation': 'Software Engineer'}

<br>

####